@charset "UTF-8";
/* Consistent settings */
/* Colors */
/* project colors */
/* util colors */
.clearfix,
.group {
  zoom: 1; }
  .clearfix:before, .clearfix:after,
  .group:before,
  .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after,
  .group:after {
    clear: both; }

/* Responsive grid
   ========================================================================== */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  /*overflow: hidden;*/ }

.column {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.column:first-child {
  margin-left: 1000px; }

.one {
  width: 4.66666666667%; }

.two {
  width: 13.3333333333%; }

.three {
  width: 22%; }

.four {
  width: 30.6666666667%; }

.five {
  width: 39.3333333333%; }

.six {
  width: 48%; }

.seven {
  width: 56.6666666667%; }

.eight {
  width: 65.3333333333%; }

.nine {
  width: 74.0%; }

.ten {
  width: 82.6666666667%; }

.eleven {
  width: 91.3333333333%; }

.twelve {
  width: 100%;
  margin-left: 0; }

@font-face {
  font-family: Gotham_black;
  src: url(../fonts/GOTHAM-BLACK.TTF); }

@font-face {
  font-family: Gotham_medium;
  src: url(../fonts/GOTHAM-MEDIUM.TTF); }

@font-face {
  font-family: Gotham_thin;
  src: url(../fonts/GOTHAM-LIGHT.TTF); }

body {
  font-family: Gotham_thin, sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #fff; }

h1,
h2,
h3,
h4,
h5 {
  font-family: Gotham_medium, sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  margin: 0px; }

a {
  color: #1271db; }
  a:hover, a:focus {
    text-decoration: none; }

/* HOME */
.main-landing-page {
  background: #2b2769; }
  .main-landing-page h1 {
    font-family: Gotham_black, sans-serif;
    font-size: 60px;
    line-height: 98%;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .main-landing-page h1, .main-landing-page p {
    color: #E94444; }
  .main-landing-page p {
    color: #fff;
    font-size: 18px;
    margin-top: 0px;
    font-family: Gotham_medium, sans-serif; }

/* INTERACTIVE DESIGN */
/* UX/UI */
.ux-ui {
  text-align: center; }
  .ux-ui h5 {
    font-family: Gotham_medium, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0; }
  .ux-ui p {
    font-size: 0.8em;
    margin-bottom: 30px; }

.btn {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #1271db;
  color: #1271db;
  display: inline-block;
  height: 44px;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize; }
  .btn:hover, .btn:focus {
    background: #1271db;
    border-color: #1271db;
    color: #fff;
    text-decoration: none; }
  .btn:active {
    background: #0e59ac;
    border-color: #0e59ac; }

.btn-primary {
  background-color: #1271db;
  border-color: #1271db;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus {
    background: #1065c3;
    border-color: #1065c3;
    color: #fff; }
  .btn-primary:active {
    background: #0e59ac;
    border-color: #0e59ac;
    color: #fff; }

.btn-lg {
  font-size: 1.4em;
  height: 66px;
  padding: 0 60px; }

.btn-sm {
  font-size: .85em;
  height: 30.8px;
  padding: 0 10px; }

.btn-link {
  box-shadow: none;
  background: transparent;
  border: 0;
  color: #1271db;
  text-shadow: none;
  text-transform: none; }
  .btn-link:hover, .btn-link:focus {
    background: transparent;
    color: #1271db;
    text-decoration: underline; }

@media screen and (max-width: 480px) {
  .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%; } }

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
  position: fixed;
  top: 10px;
  z-index: 25;
  display: none; }
  .logo img {
    width: 35%; }

.logo.active-logo {
  display: inherit; }

nav {
  position: fixed;
  z-index: 12;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff; }
  nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    nav ul li {
      list-style: none; }
      nav ul li a {
        font-size: 35px;
        text-decoration: none;
        color: inherit; }

.main-nav-hide {
  display: none; }

/*Hamburger Toggle*/
.navbar-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
  cursor: pointer; }
  .navbar-toggle #menu {
    width: 50px; }
  .navbar-toggle .menu-container {
    width: 40px;
    height: 15px;
    overflow: hidden; }
    .navbar-toggle .menu-container .menu-bar {
      background: #E94444;
      width: 40px;
      height: 1px;
      margin-bottom: 6px;
      transform: translateX(10px); }

/*sidebar navigation*/
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #E94444;
  display: none; }

* {
  box-sizing: border-box !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.valign {
  vertical-align: middle; }

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 40px 0; }

.subtle {
  color: #aaa; }

.relative {
  position: relative; }

/* HOME */
/* INTERACTIVE DESIGN */
.design {
  background: #312c32; }
  .design #bison-logo {
    width: 70%;
    fill: transparent;
    stroke: #fff;
    transform: translateY(15px); }

/* PROTOTYPE */
/* GRAPHIC DESIGN */
/* PHOTOGRAPHY */
/* CONTACT */
/* Homepage - Main Laning page */
/* Mobile first queries */
.main-landing-page {
  background: #2b2769; }
  .main-landing-page .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .main-landing-page .container img {
      width: 50%; }
  .main-landing-page h1, .main-landing-page p {
    color: #E94444; }
  .main-landing-page h1 {
    font-size: 1.5em;
    margin: 10px; }
  .main-landing-page p {
    font-size: 0.9em;
    margin: 0 20px 20px; }

/* Larger than mobile */
@media (min-width: 400px) {
  .main-landing-page h1 {
    font-size: 2em; }
  .main-landing-page p {
    font-size: 1em; }
  .main-landing-page .container img {
    width: 40%; } }

/* Larger than phablet */
@media (min-width: 550px) {
  .main-landing-page h1 {
    font-size: 3em; }
  .main-landing-page p {
    font-size: 1.2em; }
  .main-landing-page .container img {
    width: 30%; } }

/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 1000px) {
  .main-landing-page h1 {
    font-size: 4em; }
  .main-landing-page p {
    font-size: 1.3em; }
  .main-landing-page .container img {
    width: 25%; } }

/* Larger than Desktop HD */
/* UX - User Experience */
/* Mobile first queries */
.ux {
  background: #E94444; }
  .ux .placeholder-height {
    height: 100px; }
  .ux .container {
    text-align: center; }
    .ux .container p {
      font-size: 0.8em;
      margin-bottom: 20px; }
    .ux .container .screen h5 {
      margin-bottom: 10px; }
    .ux .container .screen img {
      width: 90%;
      margin-bottom: 15px; }

/* Larger than mobile */
@media (min-width: 400px) {
  .ux .container {
    text-align: center; }
    .ux .container p {
      font-size: 0.8em;
      margin-bottom: 20px; }
    .ux .container .screen {
      display: inline-block; }
      .ux .container .screen img {
        width: 90%; } }

/* Larger than phablet */
/* Larger than tablet */
@media (min-width: 750px) {
  .ux .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .ux .container .screen {
      width: 21.25%; }
    .ux .container .screen:first-child {
      margin-left: 0; } }

/* Larger than desktop */
/* Larger than Desktop HD */
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden; } }

@media print {
  header,
  nav,
  footer {
    display: none; }
  img {
    max-width: 500px; }
  body {
    font: 14pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3; } }
