/* Consistent settings */
/* Colors */
/* project colors */
/* util colors */
/* global background color */
html {
  background: #2b2769; }

.clearfix,
.group {
  zoom: 1; }
  .clearfix:before, .clearfix:after,
  .group:before,
  .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after,
  .group:after {
    clear: both; }

/* Responsive grid
   ========================================================================== */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.column {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.column:first-child {
  margin-left: 1000px; }

.one {
  width: 4.66666666667%; }

.two {
  width: 13.3333333333%; }

.three {
  width: 22%; }

.four {
  width: 30.6666666667%; }

.five {
  width: 39.3333333333%; }

.six {
  width: 48%; }

.seven {
  width: 56.6666666667%; }

.eight {
  width: 65.3333333333%; }

.nine {
  width: 74.0%; }

.ten {
  width: 82.6666666667%; }

.eleven {
  width: 91.3333333333%; }

.twelve {
  width: 100%;
  margin-left: 0; }

@font-face {
  font-family: Gotham_black;
  src: url(../fonts/GOTHAM-BLACK.TTF); }

@font-face {
  font-family: Gotham_medium;
  src: url(../fonts/GOTHAM-MEDIUM.TTF); }

@font-face {
  font-family: Gotham_thin;
  src: url(../fonts/GOTHAM-LIGHT.TTF); }

@font-face {
  font-family: avant_book;
  src: url(../fonts/ITCAvantGardePro-Bk.otf); }

@font-face {
  font-family: avant_medium;
  src: url(../fonts/ITCAvantGardePro-Md.otf); }

@font-face {
  font-family: avant_bold;
  src: url(../fonts/ITCAvantGardePro-Bold.otf); }

body,
p {
  font-family: Gotham_thin, sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #fff; }

h1,
h2,
h3,
h4,
h5 {
  font-family: Gotham_medium, sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  margin: 0px; }

a {
  color: #1271db; }
  a:hover, a:focus {
    text-decoration: none; }

.btn {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #1271db;
  color: #1271db;
  display: inline-block;
  height: 44px;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize; }
  .btn:hover, .btn:focus {
    background: #1271db;
    border-color: #1271db;
    color: #fff;
    text-decoration: none; }
  .btn:active {
    background: #0e59ac;
    border-color: #0e59ac; }

.btn-primary {
  background-color: #1271db;
  border-color: #1271db;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus {
    background: #1065c3;
    border-color: #1065c3;
    color: #fff; }
  .btn-primary:active {
    background: #0e59ac;
    border-color: #0e59ac;
    color: #fff; }

.btn-lg {
  font-size: 1.4em;
  height: 66px;
  padding: 0 60px; }

.btn-sm {
  font-size: .85em;
  height: 30.8px;
  padding: 0 10px; }

.btn-link {
  box-shadow: none;
  background: transparent;
  border: 0;
  color: #1271db;
  text-shadow: none;
  text-transform: none; }
  .btn-link:hover, .btn-link:focus {
    background: transparent;
    color: #1271db;
    text-decoration: underline; }

@media screen and (max-width: 480px) {
  .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%; } }

/* NAVIGATION
   ========================================================================== */
.logo {
  position: fixed;
  top: 4%;
  left: 2%;
  z-index: 25;
  margin: 0;
  display: none; }
  .logo img {
    width: 35%; }

.logo.active-logo {
  display: inherit; }

nav {
  position: fixed;
  z-index: 12;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff; }
  nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    nav ul li {
      list-style: none; }
      nav ul li a {
        font-size: 35px;
        text-decoration: none;
        color: inherit; }

.main-nav-hide,
.resume-page-hide {
  display: none; }

/**
 * HAMBURGER TOGGLE MENU
 */
.navbar-toggle {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 20;
  cursor: pointer; }
  .navbar-toggle #menu {
    width: 50px; }
  .navbar-toggle .menu-container {
    width: 40px;
    height: 15px;
    overflow: hidden; }
    .navbar-toggle .menu-container .menu-bar {
      background: #E94444;
      width: 40px;
      height: 1px;
      margin-bottom: 6px;
      transform: translateX(10px); }

/* FOOTER ELEMENTS
   ========================================================================== */
/**
 * PERSONAL PORTFOLIO WATERMARK
 */
.watermark-text {
  font-size: .4em;
  color: #E94444;
  font-family: avant_book, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  left: 2%;
  bottom: 2%;
  z-index: 100; }
  .watermark-text .rath {
    font-family: avant_bold, sans-serif; }

@media (max-width: 550px) {
  .watermark-text {
    visibility: hidden; } }

/**
 * SOCIAL/CONTACT BAR AT RIGHTHAND CORNER OF PAGE
 */
.social-main {
  z-index: 101;
  position: absolute;
  right: 2%;
  bottom: 2%; }
  .social-main .contact,
  .social-main .contact-item,
  .social-main .resume-btn {
    text-transform: uppercase;
    font-family: Gotham_thin, sans-serif;
    font-size: 14px;
    color: #E94444;
    margin-left: 5px; }
  .social-main .contact {
    margin-right: 5px; }
  .social-main .resume-btn {
    font-family: avant_medium, sans-serif;
    cursor: pointer; }
  .social-main .resume-tube-separator {
    font-family: avant_book, sans-serif;
    cursor: default; }

@media (max-width: 550px) {
  .social-main {
    visibility: hidden; } }

/**
 * RIGHT VERTICAL NAV BAR
 * Have turned off for now
 */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #E94444;
  display: none; }

* {
  box-sizing: border-box !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.valign {
  vertical-align: middle; }

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 40px 0; }

.subtle {
  color: #aaa; }

.relative {
  position: relative; }

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

/* Homepage - pulsing button */
.pulse {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px; }
  .pulse .pulse-button {
    stroke: #E94444; }

/* Homepage - Main Laning page */
/* Mobile first queries */
.main-landing-page {
  background: #2b2769; }
  .main-landing-page .container img {
    width: 50%; }
  .main-landing-page h1, .main-landing-page p {
    color: #E94444; }
  .main-landing-page h1 {
    font-size: 1.5em;
    margin: 10px;
    font-family: Gotham_black, sans-serif;
    text-transform: uppercase; }
  .main-landing-page p {
    font-size: 0.9em;
    margin: 0 20px 20px;
    font-family: Gotham_medium, sans-serif; }
  .main-landing-page .social-main {
    visibility: hidden; }

/* Larger than mobile */
@media (min-width: 400px) {
  .main-landing-page h1 {
    font-size: 2em; }
  .main-landing-page p {
    font-size: 1em; }
  .main-landing-page .container img {
    width: 40%; } }

/* Larger than phablet */
@media (min-width: 550px) {
  .main-landing-page h1 {
    font-size: 3em; }
  .main-landing-page p {
    font-size: 1.2em; }
  .main-landing-page .container img {
    width: 30%; } }

/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 1000px) {
  .main-landing-page h1 {
    font-size: 4em; }
  .main-landing-page p {
    font-size: 1.3em; }
  .main-landing-page #salmon-fish {
    position: relative; }
    .main-landing-page #salmon-fish #salmon-fin {
      position: absolute;
      width: 20px;
      left: 450px;
      top: 83px; } }

/* Larger than Desktop HD */
/* USER EXPERIENCE SECTION
   ========================================================================== */
/**
 * MOBILE FIRST QUERIES
 */
.ux {
  text-align: center;
  background: #E94444; }
  .ux h1 {
    font-size: 1.5em;
    font-family: Gotham_medium, sans-serif;
    text-transform: uppercase; }
  .ux p {
    font-size: 0.7em;
    margin: 0 2em 2em; }

.ux-slide-01 .wrapper-container {
  display: flex;
  flex-direction: column; }
  .ux-slide-01 .wrapper-container .ux-image {
    width: 35%;
    margin: 100px auto 0; }
    .ux-slide-01 .wrapper-container .ux-image img {
      width: 100%; }

.ux-slide-02 .screens-container {
  margin: 0 auto;
  width: 55%; }

.ux-slide-02 .screen img {
  width: 100%;
  margin-bottom: 20px; }

.placeholder {
  height: 100px; }

/**
 * LARGER THAN MOBILE
 */
/**
 * LARGER THAN PHAMBLET
 */
@media (min-width: 550px) {
  .ux-slide-02 {
    display: flex; }
    .ux-slide-02 .wrapper-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 960px;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .ux-slide-02 .wrapper-container .screens-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        width: 60%; }
      .ux-slide-02 .wrapper-container .screen {
        flex: 0 1 40%; } }

/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {
  .ux-slide-01 {
    display: flex; }
    .ux-slide-01 .wrapper-container {
      flex-direction: row;
      max-width: 960px;
      margin: 0 auto;
      align-items: center; }
      .ux-slide-01 .wrapper-container .ux-image {
        flex: 1; }
      .ux-slide-01 .wrapper-container .ux-slide01-text {
        flex: 3; }
  .ux-slide-02 .wrapper-container .screens-container {
    width: 80%; }
  .ux-slide-02 .wrapper-container .screen {
    flex: 0 1 20%; } }

/* Larger than desktop */
/* Larger than Desktop HD */
/* Interactiive */
/* Mobile first queries */
.interactive {
  background: #2b2769; }
  .interactive #bison-logo {
    width: 70%;
    fill: transparent;
    stroke: #E94444;
    transform: translateY(15px);
    display: none; }

/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 1000px) {
  .interactive h1, .interactive p {
    color: #E94444; }
  .interactive h1 {
    font-size: 4.2em;
    font-family: avant_bold, sans-serif;
    line-height: 90%; }
  .interactive p {
    font-size: 1.1em;
    font-family: avant_medium, sans-serif;
    text-transform: uppercase;
    line-height: 105%; } }

/* Larger than Desktop HD */
/* UX - Prototype */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  display: none; }

/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* RESUME
   ========================================================================== */
.resume-page {
  position: fixed;
  z-index: 12;
  background: #F5F5F5;
  width: 100%;
  height: 100%; }
  .resume-page .resume-content {
    text-align: center;
    max-height: 960px;
    margin: 0 auto; }
    .resume-page .resume-content h1, .resume-page .resume-content p {
      color: #E94444; }
  .resume-page img {
    width: 200px; }

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden; } }

@media print {
  header,
  nav,
  footer {
    display: none; }
  img {
    max-width: 500px; }
  body {
    font: 14pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3; } }
