@charset "UTF-8";
.clearfix,
.group {
  zoom: 1; }
  .clearfix:before, .clearfix:after,
  .group:before,
  .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after,
  .group:after {
    clear: both; }

/* Responsive grid
   ========================================================================== */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  /*overflow: hidden;*/ }

.column {
  float: left;
  padding: 20px; }

/*for gutter set margin left to 4% and first:child to 0px then recalculate percentages*/
.one {
  width: 8.33333333%; }

.two {
  width: 16.66666666%; }

.three {
  width: 25%; }

.five {
  width: 41.66666666%; }

.six {
  width: 50%; }

.seven {
  width: 58.33333333%; }

.eight {
  width: 66.66666666%; }

.nine {
  width: 75%; }

.ten {
  width: 83.33333333%; }

.eleven {
  width: 91.66666666%; }

.twelve {
  width: 100%; }

@media all and (min-width: 600px) {
  .four {
    width: 33.33333333%; } }

@font-face {
  font-family: Gotham_black;
  src: url(../fonts/GOTHAM-BLACK.TTF); }

@font-face {
  font-family: Gotham_medium;
  src: url(../fonts/GOTHAM-MEDIUM.TTF); }

@font-face {
  font-family: Gotham_thin;
  src: url(../fonts/GOTHAM-LIGHT.TTF); }

body {
  font-family: Gotham_thin, sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5 {
  font-family: Gotham_medium, sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

a {
  color: #1271db; }
  a:hover, a:focus {
    text-decoration: none; }

/*
// Responsive styles if needed
// @include responsive($big-break) {
// }
@include responsive($small-break) {
  body {
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4,
  h5,
  p,
  ul,
  ol {
    font-size: 14px;
  }
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
*/
.btn {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #1271db;
  color: #1271db;
  display: inline-block;
  height: 44px;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize; }
  .btn:hover, .btn:focus {
    background: #1271db;
    border-color: #1271db;
    color: #fff;
    text-decoration: none; }
  .btn:active {
    background: #0e59ac;
    border-color: #0e59ac; }

.btn-primary {
  background-color: #1271db;
  border-color: #1271db;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus {
    background: #1065c3;
    border-color: #1065c3;
    color: #fff; }
  .btn-primary:active {
    background: #0e59ac;
    border-color: #0e59ac;
    color: #fff; }

.btn-lg {
  font-size: 1.4em;
  height: 66px;
  padding: 0 60px; }

.btn-sm {
  font-size: .85em;
  height: 30.8px;
  padding: 0 10px; }

.btn-link {
  box-shadow: none;
  background: transparent;
  border: 0;
  color: #1271db;
  text-shadow: none;
  text-transform: none; }
  .btn-link:hover, .btn-link:focus {
    background: transparent;
    color: #1271db;
    text-decoration: underline; }

@media screen and (max-width: 480px) {
  .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%; } }

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*nav, .navbar-toggle {
	user-select: none;
}*/
.logo {
  position: fixed;
  width: 170px;
  top: 20px;
  left: 15px;
  z-index: 25; }

nav {
  position: fixed;
  z-index: 12;
  background: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff; }
  nav ul {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0 !important; }
    nav ul li {
      list-style: none; }
      nav ul li a {
        font-size: 35px;
        text-decoration: none;
        color: inherit; }

.main-nav-hide {
  display: none; }

/*Hamburger Toggle*/
.navbar-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer; }

.bar-1,
.bar-2,
.bar-3 {
  width: 100%;
  height: 5px;
  margin-bottom: 8px;
  background-color: #fff;
  transition: all 0.3s ease-in-out; }

.navbar-on .bar-1,
.navbar-on .bar-2,
.navbar-on .bar-3 {
  background: #fff; }

.navbar-on .bar-1 {
  transform-origin: 10% 40%;
  transform: rotate(45deg); }

.navbar-on .bar-3 {
  transform-origin: 10% 40%;
  transform: rotate(-45deg); }

.navbar-on .bar-2 {
  background: transparent; }

* {
  box-sizing: border-box !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.valign {
  vertical-align: middle; }

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 40px 0; }

.subtle {
  color: #aaa; }

.relative {
  position: relative; }

html {
  background: teal; }

/*Homepage - Main Laning page*/
.main-landing-page {
  background: url(../img/test-bg.jpg) no-repeat center center fixed;
  background-size: cover; }
  .main-landing-page h1 {
    font-family: Gotham_black, sans-serif;
    color: #fff;
    font-size: 60px;
    line-height: 98%;
    margin-left: 65px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .main-landing-page p {
    color: #fff;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 65px;
    font-family: Gotham_medium, sans-serif; }

/* About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background: #c7ad88; }

/* Portfolio Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.work .our-work-banner {
  height: 400px;
  width: 100%;
  background: #3fb0ac; }

.work .our-work {
  margin-top: -300px;
  text-align: center; }
  .work .our-work h1 {
    text-transform: uppercase;
    font-size: 55px;
    margin-bottom: 0; }

.portfolio-item {
  border: 1px solid blue;
  height: 320px; }

.footer {
  background: #252839;
  color: #fff; }

/*// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }*/
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden; } }

@media print {
  header,
  nav,
  footer {
    display: none; }
  img {
    max-width: 500px; }
  body {
    font: 14pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3; } }
