 /* Homepage - pulsing button */
.pulse {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  .pulse-button {
    stroke: $salmon;
     text-align: center;
     margin-left: 10px;
  }
}


 /* Pixi Js */

 .rendererView {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1

 }

 .down-arrow-container {
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translateY(-50%);
      width: 10px;
      height: 50px;
      overflow: hidden;

      .down-arrow {
        width: 1px;
        height: 40px;
        background: $salmon;
        opacity: 0.5;
      }

 }
