 /* Homepage - pulsing button */
.pulse {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  .pulse-button {
    stroke: $salmon;
     text-align: center;
     margin-left: 10px;
  }
}

 /* case study type above pulsing circles */
.case-study-type {
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  span {
    color: $salmon;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $bold;
  }
  a {
    text-decoration: none;
  }
}

 /* Pixi Js */

 .rendererView {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1

 }
