//**
// Buttons
//**

// Default button
.btn {
  background: transparent;
  border: 1px solid $salmon;
  color: $salmon;
  display: inline-block;
  height: $line-height;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: background 1s;

  &:hover,
  &:focus {
    background: $salmon;
    border-color: #fff;
    color: #fff;
    text-decoration: none;

  }
}

