/* FOOTER
   ========================================================================== */

.footer {
	height: 350px;
	background: #273340;
	position: relative;
	.main-footer {
		text-align: center;
			margin-top: 10px;
		p, 
		i {
			color: $reverse;
		}
		p {
			margin-bottom: 0px;
			font-size: 0.85em;
		}
		i {
			margin: 5px;
			font-size: 1.3em;
		}
	}

	.details {
		margin-bottom: 20px;
		p:first-of-type {
			text-transform: uppercase;
		}
		p:nth-of-type(3) {
			font-family: $bold;
		}
		p:nth-of-type(4) {
			text-transform: uppercase;
		}
	}

	p.copy-right {
		position: absolute;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 0.7em;
	}
}
	
// @media (min-width: 550px) {
// 	.footer {
// 		.main-footer {
// 			flex-direction: row;
// 			.social-icons {
// 			display: inherit;
// 			}
// 		}
// 	}
// }


