/* FOOTER
   ========================================================================== */

.footer {
	height: 280px;
	margin-top: 10px;
	.main-footer {
		text-align: center;
		p, 
		i {
			color: $reverse;
		}
		p {
			margin-bottom: 0px;
			font-size: 0.85em;
		}
		i {
			margin: 5px;
			font-size: 1.3em;
		}
		margin-bottom: 20px;
	}

	.backtop-btn {
		display: none;
		img {
			width: 40px;
		}
	}

	.details {
		figure {
			width: 45%;
			padding: 0px;
			margin: 0 auto 20px;

		}
		margin-bottom: 20px;
		p:first-of-type {
			text-transform: uppercase;
			font-family: $bold;
		}
		p:nth-of-type(3) {
			font-family: $bold;
		}
		p:nth-of-type(4) {
			text-transform: uppercase;
		}
	}
	p.copy-right {
		font-size: 0.7em;
		margin-bottom: 30px;
	}
}
	
@media (min-width: 650px) {
	.footer {
		margin-bottom: 30px;
		.main-footer {
			flex-direction: row;
			text-align: left;
			align-items: flex-end;
			width: 100%;
			justify-content: space-between;
		}

		.details {
			font-size: 0.75em;
			margin-bottom: 0px;
			figure {
				margin: 0 0 20px;
			}
			p {
				line-height: 1.7em;
			}
			p:first-of-type {
				margin-bottom: 30px;
			}
		}
		.social-icons {
			i {
				font-size: 0.8em;
			}
		}
		.backtop-btn {
		display: inherit;
		text-align: right;
		cursor: pointer;
		}
		p.copy-right {
			font-size: 0.65em;
			transform: translateY(4px);
			margin-bottom: 0px;
		}
	}
}


