
/* NAVIGATION
   ========================================================================== */

.logo {
	position: fixed;
	top: 4%;
	left: 4%;
	z-index: 25;
	margin: 0;
		img {
			width: 40%;
		}
	display: none; 
}

.logo.active-logo {
	display: inherit;
}


/**
 * HAMBURGER TOGGLE MENU
 */

.navbar-toggle {
	position: fixed;
	top: 4%;
	right: 4%;
	z-index: 20;
	cursor: pointer;

	#menu {
  width:50px;
	}

.hamburger-container {
		width: 40px;
		height: 20px;
		overflow: hidden;
		transform: translateY(5px);

		.menu-bar {
		  background: $salmon;
		  width: 40px;
		  height: 2px;
	 	 	margin-bottom: 6px;
	 	 	transform: translateX(10px)
		}
	}
}

/**
 * SECONDARY NAVIGATION
 */



.secondary-nav { 
	background: $aqua-blue;
	width: 100%;
	height: 80px;
	position: fixed;
}


/**
 * FULL PAGE NAVIGATION
 */

.fp-nav-wrapper {
	position: fixed;
	z-index: 200;
	// background: $salmon;
	// background: #181723;
	// background: #1D2A46;
	// background: #082a3c;
	background: #072231;
	width: 100vw;
	height: 100vh;


}
	
.menu-container {
	p, 
	li, 
	a, 
	i {
		color: $reverse;
	}

}

.nav-menu-content {
	font-family: $black;
	text-align: left;
	margin-top: 20px;
	li {
		list-style-type: none;
		font-size: 1.85em;
		margin-bottom: 15px;
		& a{
			text-decoration: none;
			cursor: pointer;
		}
	}
	.menu-list-items {
		padding-left: 0;
	}
	.social-main-nav {
		a {
			margin-left: 10px;
			font-size: 0.7em;
		}
		a:first-of-type {
			margin-left: 0px;
		}
		margin-bottom: 25px;
		}
}

.nav-about-text {
	h2, 
	p {
		font-family: $body;
	}
	h2 {
		margin-bottom: 0.5em;
		font-size: 1.2em;
		span {
			font-family: $bold;
		}
	}
	p {
		display: none;
	}

}

.nav-back-button {
	cursor: pointer;
	position: absolute;
	top: 4%;
	right: 4%;
	width: 30px;
	height: 30px;
	// p {
	// 	font-size: 1em;
	// 	text-transform: uppercase;
	// 	transform: translateY(-5px);
	// }
	img {
		width: 100%;
	}
}



/* Larger than tablet */
@media (min-width: 750px) {

	.nav-menu-content,
	.nav-about-text {
		flex-basis: 45%;
		max-width: 45%;
	}

	.menu-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.nav-menu-content {
		text-align: right;
		li {
			list-style-type: none;
			font-size: 2em;
			margin-bottom: 0.6em;
			& a{
				text-decoration: none;
				cursor: pointer;
				color: $reverse;
				transition: color 0.25s;
			}
		}
		.menu-list-items {
			a:hover {
			color: $salmon;
			// color: rgba(254,254,230, 0.5);
			// text-decoration: underline;
			}
		}
		.social-main-nav {
			a {
				margin-left: 10px;
			}
		}
	}

	.nav-about-text {
		h2 {
			font-size: 1.6em;
			line-height: 1.2em;
		}
		p {
			display: inherit;
		}
	}

}

@media (min-width: 850px) {
	.nav-menu-content {
		li {
			font-size: 2.5em;
		}
	}
}



/**
 * FOOTER ELEMENTS - SOCIAL/CONTACT BAR AT RIGHTHAND CORNER OF PAGE
 */

.social-main {
	z-index: 100;
	position: absolute;
	right: 4%;
	bottom: 4%;
	li {
		list-style-type: none;
		font-size: 14px;
		float: left;
		border: 1px solid rgba(233,68, 68, 0.15);
		i {
		height: 35px;
		width: 35px;
		text-align: center;
		line-height: 35px;
		}
	}
	li:nth-of-type(1),
	li:nth-of-type(2),
	li:nth-of-type(3) {
		border-right: 0px;
	}
	li:hover {
		background: $salmon;
		i {
			color: $dark-blue;
		}
		transition: background 1.5s;
	}
	.social-title {
		border: none;
		margin-right: 14px;
		line-height: 35px;
		font-family: $thin;
		font-size: 8px;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: rgba(233,68, 68, 0.75);
		// color: rgba(255, 255, 255, 0.25);
		span {
			font-family: $medium;
			font-size: 10px;
		}
	}
}

.location-caption {
	z-index: 100;
	position: absolute;
	left: 4%;
	bottom: 4%;
	height: 35px;
	line-height: 35px;
	p {
		font-family: $thin;
		font-size: 8px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		color: rgba(233,68, 68, 0.75);
		span {
			font-family: $medium;
			font-size: 10px;
		}
	}
}

// **********
@media (max-width: 565px) {
	.location-caption,
	.social-main {
		visibility: hidden;
	}
}

