/* PRELOADER
   ========================================================================== */


.preload-wrapper {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $salmon;
  z-index: 999999;

}

.preload-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#prelaoder {
  width: 150px;
}

