/* Flex Stuff
   ========================================================================== */

/**
 * main flex-container
 */

img {
	width: 100%;
}
.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper-container {
  max-width: 960px;
  padding: 30px;
  height: 100vh;
}

.fullpage-section {
	width: 100%;
	height: 100vh;
	display: -ms-flexbox;
	display: flex;
}


/**
 * FLEX STUFF
 */

.flex {
	display: -ms-flexbox;
  display: flex;
}


.flex-container {
	max-width: 850px;
	margin: 60px auto;
	display: -ms-flexbox;
	display: flex;
	padding: 30px;
}

@media (min-width: 1280px) {
	.flex-container {
	max-width: 960px;
	}
}

.col-one {
	flex-basis: 100%;
  max-width: 100%;
	margin: 10px;
}

.col-two {
	flex-basis: 50%;
	max-width: 50%;
    margin: 10px;
}

.col-one-third {
	flex-basis: calc(100%/3);
	margin: 10px;
}
.col-two-thirds {
	flex-basis: calc((100%/3)*2);
	margin: 10px;
}

.col-four {
	flex-basis: 25%;
    max-width: 25%;
	margin: 10px;
}

.col-five {
	flex-basis: calc(100%/5);
	margin: 10px;
}

.col-six {
	flex-basis: calc(100%/6);
	margin: 10px;
}

// alignment center

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}


.is-column {
    flex-direction: column;
}

.is-column-reverse {
    flex-direction: column-reverse;
}

.space-between {
    justify-content: space-between;
}



/**
 * Flex stuff
 */

// .flex {
//     display: flex;
//     flex-direction: column;
// }
.isInline {
    display: inline-flex;
}
.is-row {
    flex-direction: row;
}
.is-row-reverse {
    flex-direction: row-reverse;
}
.isColumn {
    flex-direction: column;
}
.isColumnReverse {
    flex-direction: column-reverse;
}
.isSingle {
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}
.isMultiple.isReverse {
    flex-wrap: wrap-reverse;
}

.spaceAround {
    justify-content: space-around;
}


.justify-start {
    justify-content: flex-start;
}
.contentCenter {
    align-content: center;
}

.alignEnd {
    align-items: flex-end;
}
.align-start {
    align-items: flex-start;
}
.alignBaseline {
    align-items: baseline;
}
.selfCenter {
    align-self: center;
}
.selfStart {
    align-self: flex-start;
}
.selfEnd {
    align-self: flex-end;
}
.selfAuto {
    align-self: auto;
}
.selfBaseline {
    align-self: baseline;
}
.content-center {
    align-content: center;
}
.contentStretch {
    align-content: stretch; 
}
.flexNone {
    flex: 0 0 auto;
}
.flexInitial {
    flex: 0 1 auto;
}
.flexAuto {
    flex: 1 1 auto;
}
.flex0050 {
    flex: 0 0 50%;
}
.flexOne0auto {
    flex: 1 0 auto;
}
.flexOne {
    flex: 1;
}
.flex-row-start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flexRowSpaceBetween {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.flexColumnStart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.flexRowNoWrap {
    flex-flow: row nowrap;
}
.dontFlex {
    flex: none;
}
.isFull {
    flex-basis: 100%;
    max-width: 100%;
}
.is-half {
    flex-basis: 50%;
    margin: 0 1px;
    max-width: 49%;
}
.is-third {
    flex-basis: 33%;
    max-width: 33%;
}
.is-two-thirds {
    flex-basis: 67%;
    max-width: 67%;
}
.isQuarters {
    flex-basis: 24%;
    margin: 0 2px;
    max-width: 24%;
}
.isThreeFifths {
    flex-basis: 59%;
    margin: 0 2px;
    max-width: 59%;
}
.isTwoFifths {
    flex-basis: 39%;
    margin: 0 2px;
    max-width: 39%;
}
.isOneFifth {
    flex-basis: 19%;
    margin: 0 2px;
    max-width: 19%;
}
.isFourFifths {
    flex-basis: 79%;
    margin: 0 2px;
    max-width: 79%;
}
.isOneTenth {
    flex-basis: 9%;
    margin: 0 2px;
    max-width: 9%;
}
.isThreeTenths {
    flex-basis: 29%;
    margin: 0 2px;
    max-width: 29%;
}
.isSevenTenths {
    flex-basis: 69%;
    margin: 0 2px;
    max-width: 69%;
}
.isNineTenths {
    flex-basis: 89%;
    margin: 0 2px;
    max-width: 89%;
}
.flexGrow {
    flex-grow: 2;
}
.flexChild > div {
    display: flex;
}