//**
// Project Mixins
//**

// Clear after floats
@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

// Apply clearfix to this classes by default
.clearfix,
.group {
  @include clearfix;
}




// Responsive mixins
@mixin responsive($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin mobilefirst($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

// Background watermark

@mixin watermark(){
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
  opacity: 0.02;
  visibility: hidden; 
}

/**
 * TYPOGRAPHY
 */


@mixin captiontext(){
  color: $primary-font-color;
  font-family: $bold; 
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
}



// intro paragraph style
@mixin intro-paragraph(){
  font-size: 1.3em;
  line-height: 1.2;
  font-family: $medium;
  
  @media screen and (min-width: 750px) {
    font-size: 1.4em;
    line-height: 1.4;
  }

}




