/*---------------
    GOTHAM
---------------*/
@font-face { font-family: Gotham_black; src: url(../fonts/GOTHAM-BLACK.TTF);}
@font-face { font-family: Gotham_medium; src: url(../fonts/GOTHAM-MEDIUM.TTF);}
@font-face { font-family: Gotham_thin; src: url(../fonts/GOTHAM-LIGHT.TTF);}

/*---------------
    AVANTGARDE
---------------*/
@font-face { font-family: avant_light; src: url(../fonts/ITCAvantGardePro-XLt.otf);}
@font-face { font-family: avant_book; src: url(../fonts/ITCAvantGardePro-Bk.otf);}
@font-face { font-family: avant_medium; src: url(../fonts/ITCAvantGardePro-Md.otf);}
@font-face { font-family: avant_bold; src: url(../fonts/ITCAvantGardePro-Bold.otf);}

/*---------------
    SERIF
---------------*/
@font-face { font-family: galaxie_book; src: url(../fonts/GalaxieCopernicus-Book.otf);}
@font-face { font-family: galaxie_italic; src: url(../fonts/GalaxieCopernicus-BookItalic.otf);}

$body: Gotham_thin, sans-serif;
$medium: Gotham_medium, sans-serif;
$bold: Gotham_black, sans-serif;

$light_avant: avant_light, sans-serif;
$body_avant: avant_book, sans-serif;
$medium_avant: avant_medium, sans-serif;
$bold_avant: avant_bold, sans-serif;

$serif: galaxie_book;
$serif_italic: galaxie_italic;


p {
  margin: 0;
}

body, 
p {
  font-family: $light_avant, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: $reverse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;

    font-family: $medium, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: $reverse;
    margin: 0px;
}

a {
  color: $primary-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* GLOBAL TYPOGRAPHY
   ========================================================================== */

.quote-text {
  font-size: 2.5em;
  font-family: $bold_avant;
}











