/*---------------
    GOTHAM
---------------*/
@font-face { font-family: Gotham_black; src: url(../fonts/GOTHAM-BLACK.TTF);}
@font-face { font-family: Gotham_medium; src: url(../fonts/GOTHAM-MEDIUM.TTF);}
@font-face { font-family: Gotham_thin; src: url(../fonts/GOTHAM-LIGHT.TTF);}

/*---------------
    AVANTGARDE
---------------*/
@font-face { font-family: avant_light; src: url(../fonts/ITCAvantGardePro-XLt.otf);}
@font-face { font-family: avant_book; src: url(../fonts/ITCAvantGardePro-Bk.otf);}
@font-face { font-family: avant_medium; src: url(../fonts/ITCAvantGardePro-Md.otf);}
@font-face { font-family: avant_bold; src: url(../fonts/ITCAvantGardePro-Bold.otf);}

/*---------------
    Proxima Nova
---------------*/
@font-face { font-family: proxima_thin; src: url(../fonts/Proxima-Nova-Thin.otf);}
@font-face { font-family: proxima_light; src: url(../fonts/Proxima-Nova-Light.otf);}
@font-face { font-family: proxima_light_italic; src: url(../fonts/Proxima-Nova-Light-Italic.otf);}
@font-face { font-family: proxima_medium; src: url(../fonts/Proxima-Nova-Regular.otf);}
@font-face { font-family: proxima_bold; src: url(../fonts/Proxima-Nova-Bold.otf);}
@font-face { font-family: proxima_black; src: url(../fonts/Proxima-Nova-Black.otf);}

// $body: Gotham_thin, sans-serif;
// $medium: Gotham_medium, sans-serif;
// $bold: Gotham_black, sans-serif;

$thin: proxima_thin, sans-serif;
$body: proxima_light, sans-serif;
$body-italic: proxima_light_italic, sans-serif;
$medium: proxima_medium, sans-serif;
$bold: proxima_bold, sans-serif;
$black: proxima_black, sans-serif;

$light_avant: avant_light, sans-serif;
$body_avant: avant_book, sans-serif;
$medium_avant: avant_medium, sans-serif;
$bold_avant: avant_bold, sans-serif;

$primary-font-color: #333; //Raven
$reverse-font-color: $reverse;


body, 
p {
  font-family: $body, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: $primary-font-color;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;

    font-family: $black , "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: $reverse;
    margin: 0px;
    font-weight: normal;
}

h1 {
  margin-bottom: 0.5em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
}

a {
  color: $primary-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@media screen and (min-width: 750px) {
  body, 
  p {
    font-size: 20px;
    line-height: 32px;
  }
}









