/* CONVERSATIONAL INTERFACE / BLUEY
   ========================================================================== */

 /**
 	 CHATBOT MAIN BACKGROUND COLOR
  	 ---------------------------------*/

 .chatbot-main-wrapper {
   background: $chatbot-secondary;
 }

 /**

/**
 CHATBOT NAVIGATION
 ---------------------------------*/
.chatbot-header {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;


  .chatbot-nav-container {
    margin-right: 0px;
    background: $chatbot-primary;
    padding-bottom: 1px;
  }

  .chatbot-logo {
    margin-top: 0px;
    img {
      margin-top: 15px;
      width: 100px;
    }
  }

  .chatbot-list-items {
    display: none;
    list-style: none;
    background: $chatbot-primary;

    li {
      margin-bottom: 10px;

    }
    li:nth-of-type(5) {
      padding-bottom: 10px;
    }
    li a{
      text-decoration: none;
      color: $reverse;
      font-size: 20px;
      font-family: $bold;
    }
    li a:hover {
      color: $chatbot-primary;
    }
  }
  .chatbot-list-items.active {
      display: block;
  }
  .toggle {
    position: absolute;
    right: 20px;
    top: 20px;
    color: $reverse;
    font-size: 18px;
  }

}


/**
	 BLUEY SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.chatbot-intro-wrapper {
  text-align: center;

  .bluey-main-image {
  padding-top: 150px;
    img {
      width: 100%;
    }
  }

  .intro-text {
    padding: 20px;
    h1 {
      font-size: 2em;
    }
    h2 {
      font-family: $thin;
      font-size: 1.3em;
      margin-bottom: 20px;
      line-height: 1.2em
    }
    h4 {
      margin-bottom: 20px;
      font-family: $medium;

    }
  }
}

.climate-change-intro, .final-chatbot  {
  background: $chatbot-secondary;
  text-align: center;

  .intro-text {
    h1 {
      font-size: 1.8em;
    }
    p {
      margin-bottom: 5px;
      color: $reverse;
    }
  }
  .side-graphic {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    img {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}

.final-chatbot {
  background: $chatbot-primary;
  .intro-text {
    p {
      margin-bottom: 20px;
    }
    .messenger-button {
      margin: 20 auto 0;
      width: 80%;
      height: 50px;
      background: $chatbot-pink;
      border-radius: 4px;
      h4 {
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        font-size: .9em;
        color: $reverse;
      }
      a {
        text-decoration: none;
      }
    }
  }
}


/**
 * LARGER THAN TABLET
 */

@media screen and (min-width: 750px) {

    //navigation menu
  .chatbot-header {
    .chatbot-logo {
      padding-top: 0px;
      img {
        margin-top: 0px;
      }
    }

    .chatbot-nav-container {
      justify-content: space-between;
      margin-right: 40px;
      display: flex;
      align-items: center;
      background: none;
    }
    .chatbot-list-items {
      display: flex;
      background: none;

      li {
        margin-left: 20px;
      }
      li a {
        font-size: 18px;
      }
    }
    .toggle {
      display: none;
    }
  }
	.chatbot-intro-wrapper {
    max-width: 960px;
    padding: 30px;
    height: 100vh;
    margin: 0 auto;

		.intro-text {
      h1 {
        font-size: 3em;
      }
      h2 {
        font-size: 2.2em;
      }
      h4 {
        font-size: 1.2em;
      }
		}
    .bluey-main-image {
      padding-top: 0px;
      width: 250px;
      margin-top: 0px;
      img {
        width: 100%;

      }
    }
	}

  .climate-change-intro {
    background: $chatbot-third;
    .climate-change-container {
      flex-direction: row;
    }
   .intro-text {
     flex-basis: 100%;
     margin-left: 50px;
     h1 {
       font-size: 2.5em;
     }
     p {
       margin-bottom: 5px;
       color: $reverse;
     }
   }
   .side-graphic {
     text-align: center;
     width: 35%;
     img {
       transform: translateY(30px);
       width: 100%;
     }
   }
  }

  .final-chatbot {
    .final-chatbot-container {
      flex-direction: row-reverse;
    }
   .intro-text {
     flex-basis: 100%;
     margin-right: 50px;
     h1 {
       font-size: 2.5em;
     }
     p {
       margin-bottom: 5px;
       color: $reverse;
     }

   }
   .side-graphic {
     text-align: center;
     width: 65%;
     img {
       transform: translateY(30px);
       width: 100%;
     }
   }
  }

}
