/* Homepage - Main Laning page */


/* Mobile first queries */

.main-landing-page {
		// background: $dark-blue;
		background: #1D2A46;

		.container {
			img {
			width: 50%;
			}
		}

		h1, p {
			color: $salmon;
		}
		h1 {
			font-size: 1.5em;
			margin: 10px;
			font-family: $bold;	
    	text-transform: uppercase;
		}
		p {
			font-size: 0.9em;
			margin: 0 20px 20px;
			font-family: $medium;
		}
		.social-main {
			visibility: hidden;
		}

	}

/* Larger than mobile */
@media (min-width: 400px) {
	.main-landing-page {
		h1 {
			font-size: 2em;
		}
		p {
			font-size: 1em;
		}
		.container img {
			width: 40%;
		}
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	.main-landing-page {
		h1 {
			font-size: 3em;
		}
		p {
			font-size: 1.2em;
		}
		.container img {
			width: 30%;
		}
	}
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
	.main-landing-page {
		h1 {
		font-size: 4em;
		}
		p {
			font-size: 1.3em;
		}
		// .container img {
		// 	width: 25%;
		// }

		#salmon-fish {
			// background: green;
			position: relative;
			#salmon-fin {
				position: absolute;
				width: 20px;
				left: 450px;
				top: 83px;
			}
		}
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
