/* Homepage - Main Laning page */


/**
	 MIAN LANDING SECTION
 	 ---------------------------------*/

.main-landing-page {

	.container {
		img {
		width: 50%;
		}
	}

	.social-main {
			visibility: hidden;
		}

	.landing-header {
		h1, p {
		color: $salmon;
		}
		h1 {
			text-transform: initial;
			font-family: $black;
			margin-bottom: 0.25em;
			font-size: 2.5em;
			line-height: 1em;
			span {
				text-decoration: line-through;
			}

		}
		h3 {
			font-family: $body;
			color: $salmon;
		}
	}

	.down-arrow {
		position: absolute;
		top: 50%;
		left: 1%;
		transform: translateY(-50%);
		width: 10px;
		opacity: 0.15;

	}
}


/* Larger than phablet */
@media (min-width: 550px) {
	.main-landing-page {
		h1 {
			font-size: 3em;
		}
		p {
			font-size: 1.2em;
		}
		.container img {
			width: 30%;
		}
	}
}


/* Larger than desktop */
@media (min-width: 1000px) {
	.main-landing-page {
		h1 {
		font-size: 4em;
		}
		p {
			font-size: 1.3em;
		}
	}
}

/* ABOUT SECTION
   ========================================================================== */

.about-me {

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		color: $salmon;
		text-align: center;
	}

}

/* Larger than phablet */
@media (min-width: 550px) {
	.about-me {
		h1 {
			font-size: 2.5em;
		}

		h4 {
			font-size: 1.5em;
		}
	}

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
		.about-me {
		h1 {
			font-size: 3.5em;
		}
	}
}


/**
 * MOBILE FIRST QUERIES
 */
.c-background-icon,
.p-background-icon,
.ui-background-icon,
.design-background-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	img {
		opacity: 0.08;
		width: 300px;
	}
}

/* PROTOTYPE LANDING
   ========================================================================== */

.prototype-container {
	background: $salmon;
	h1 {
		font-size: 2.4em
	}
	p {
		color: $reverse;
		margin-bottom: 15px;
	}
	.prototype-mockup {
		img {
			width: 250px;
			display: none;
		}
	}
}


/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {


	.p-background-icon {
		img {
			width: 500px;
		}
	}

	.prototype-container {
		h1 {
		font-size: 3em;
		}
		article {
			width: 60%;
			text-align: left;
		}
		.prototype-mockup {
			img {
				display: inherit;

			}
		}
	}

}

/* USER INTERFACE / CHATBOT
   ========================================================================== */


.chatbot {
	background: $chatbot-primary;
	h1 {
		font-size: 2.4em
	}
	p {
		color: $reverse;
		margin-bottom: 15px;
	}

		.chatbot-mockup {
			img {
			width: 350px;
			display: none;
			}
		}

}

@media screen and (min-width: 750px) {
	#chatbot-background-icon {
		img {
			width: 600px;
		}
	}
	.chatbot-container {
		h1 {
		font-size: 3em;
		}
	}
	.chatbot {
		.chatbot-container {
			.chatbot-mockup {
				img {
				display: inherit;
				}
			}
		}
	}
}

/* USER INTERFACE
   ========================================================================== */


.ui {
	background: $light-salmon;
	h1 {
		font-size: 2.4em
	}
	p {
		color: $reverse;
		margin-bottom: 15px;
	}
	.ui-container {
		.ui-mockup {
			img {
			width: 400px;
			display: none;
			}
		}
	}

}

@media screen and (min-width: 750px) {
	.ui-background-icon {
		img {
			width: 500px;
		}
	}

	.ui-container {
		h1 {
		font-size: 3em;
		}
	}
	.ui {
		.ui-container {
			.ui-mockup {
				img {
				display: inherit;
				}
			}
		}
	}
}

/* GRAPHIC SECTION
   ========================================================================== */

.graphic-design {
	background: $salmon;
	.design-container {
		background: $salmon;
		h1 {
			font-size: 2.4em
		}
		p {
			color: $reverse;
			margin-bottom: 15px;
		}
	}
}

@media screen and (min-width: 750px) {
	.design-container {
		h1 {
		font-size: 3em;
		}
	}
	.design-background-icon {
		img {
			width: 500px;
		}
	}
}

/* case study type above pulsing circles */
.case-study-type {
 position: absolute;
 top: 83%;
 left: 50%;
 transform: translate(-50%, -50%);
 span {
	 color: $salmon;
	 text-transform: uppercase;
	 font-size: 14px;
	 font-family: $bold;
 }
 a {
	 text-decoration: none;
 }
}
