/* Homepage - Main Laning page */


/**
	 MIAN LANDING SECTION
 	 ---------------------------------*/

.main-landing-page {

		.pixi-background {
			width: 100%;
			height: 100%;
		}
		.container {
			img {
			width: 50%;
			}
		}

		h1, p {
			color: $salmon;
		}
		h1 {
			font-size: 1.5em;
			margin: 10px;
			font-family: $bold;	
    	text-transform: uppercase;
		}
		p {
			font-size: 0.9em;
			margin: 0 20px 20px;
			font-family: $body;
		}
		.social-main {
			visibility: hidden;
		}

	.landing-header {
		h1 {
			text-transform: initial;
			font-family: $black;
			margin-bottom: 0.25em;
			font-size: 3em;
			line-height: 1em;
			span {
				text-decoration: line-through;
			}

		}
		h3 {
			font-family: $body;
			color: $salmon;
		}
	}

	#salmon-fish {
		position: relative;
		#salmon-fin {
			position: absolute;
			width: 11px;
			left: 176px;
			top: 44px;
		}
	}
}

/* Larger than mobile */
@media (min-width: 400px) {
	.main-landing-page {
		h1 {
			font-size: 2em;
		}
		p {
			font-size: 1em;
		}
		.container img {
			width: 40%;
		}
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	.main-landing-page {
		h1 {
			font-size: 3em;
		}
		p {
			font-size: 1.2em;
		}
		.container img {
			width: 30%;
		}
	}
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
	.main-landing-page {
		h1 {
		font-size: 4em;
		}
		p {
			font-size: 1.3em;
		}
		// .container img {
		// 	width: 25%;
		// }

		#salmon-fish {
			position: relative;
			#salmon-fin {
				position: absolute;
				width: 20px;
				left: 450px;
				top: 83px;
			}
		}
	}
}

/* ABOUT SECTION
   ========================================================================== */

.about-me,
.resume{

	h1,
	h2, 
	h3, 
	h4, 
	h5, 
	p {
		color: $salmon;
		text-align: center;
	}

}

/* Larger than phablet */
@media (min-width: 550px) {
	.about-me {
		h1 {
			font-size: 2.5em;
		}

		h4 {
			font-size: 1.5em;
		}
	}

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
		.about-me {
		h1 {
			font-size: 3.5em;
		}
	}
}


/* PROTOTYPE LANDING
   ========================================================================== */

/**
 * MOBILE FIRST QUERIES
 */

.p-background-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	img {
		opacity: 0.08;
		width: 300px;
	}
}


.prototype-container {
	background: $salmon;
	h1 {
		font-size: 3em;
	}
	p {
		color: $reverse;
		margin-bottom: 15px;
	}


}


/**
 * LARGER THAN MOBILE
 */
@media (min-width: 400px) {

}	

/**
 * LARGER THAN PHAMBLET
 */
@media (min-width: 550px) {

}

/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {


	.p-background-icon {
		img {
			width: 500px;
		}
}
	
	.prototype-container {
		article {
			width: 70%;
			text-align: left;
		}
		h3 {
			font-size: 2em;
			margin-bottom: 10px;
		}
		h3 {
		}
		.quote-text {
			font-size: 2em;
			line-height: 1em;
		}
	}

}

/* USER INTERFACE
   ========================================================================== */


.ui {
	background: $salmon;
	h1 {
		font-size: 3em;
	}
	p {
		color: $reverse;
		margin-bottom: 15px;
	}
}


/* RESUME SECTION
   ========================================================================== */

.resume {

}






