/* INTERACTION
   ========================================================================== */

/**
 * MOBILE FIRST QUERIES
 */

.interaction {
	text-align: center;

	h1, h2, h3 {
		font-family: $medium;
		
	}
	h1 {
		font-size: 1.5em;
	}
}

.interaction-container {
	background: $dark-blue;

	h1 {
		text-transform: uppercase;
	}
	.quote-text {
		font-size: 1.5em;
	}
}


/**
 * LARGER THAN MOBILE
 */
@media (min-width: 400px) {
	.interaction-container {
		.quote-text {
			font-size: 1.7em;
		}
	}	

}	

/**
 * LARGER THAN PHAMBLET
 */
@media (min-width: 550px) {

}

/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {
	
	.interaction-container {
		article {
			width: 70%;
			text-align: left;
		}
		h3 {
			font-size: 2em;
			margin-bottom: 10px;
		}
		h3 {
		}
		.quote-text {
			font-size: 3em;
			line-height: 1em;
		}
		p {
			margin-bottom: 15px;
		}
	}

}


/* Larger than desktop */
@media (min-width: 1000px) {


}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	


}


