 /* Interactiive */


/* Mobile first queries */
.interactive {
	background: $dark-blue;
	#bison-logo {
	  width: 70%;
	  fill: transparent;
	  stroke: $salmon;
	  transform: translateY(15px);
	  display: none;
	}
}


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
		.container {
		h1, p {
			color: $salmon;
		}
		h1 {
			font-size: 4.2em;
			font-family: $bold_avant;
			line-height: 90%;
		}
		p {
			font-size: 1.1em;
			font-family: $medium_avant;
			text-transform: uppercase;
			line-height: 105%;
		}
		#interactive-heading {
			opacity: 0;
		}
		#interactive-para {
			opacity: 0;
		}
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
