//**
// Main Layout Styles
//**

// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }

.container {
	// max-width: 960px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* HOME */

.main-landing-page {
	background: $dark-blue;

	.container {
		img {
		width: 25%;
		}
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

	}

	h1, p {
		color: $salmon;
	}



}

	#fp-nav ul li a span, .fp-slidesNav ul li a span {
		background: $salmon;
	}






/* INTERACTIVE DESIGN */

.design {
	background: #312c32;

	#bison-logo {
	  width: 70%;
	  fill: transparent;
	  stroke: #fff;
	  transform: translateY(15px);
	}


}


/* UX/UI */
.ux-ui {
	background: $salmon;

	.three {
		text-align: center;
			img {
				width:  70%;
			}
	}

}








/* PROTOTYPE */








/* GRAPHIC DESIGN */








/* PHOTOGRAPHY */








/* CONTACT */