/* PROTOTYPE CASE STUDY / BIRD NERD
   ========================================================================== */

.prototype-main-wrapper {
	p {
		color: $primary-font-color;
		margin-bottom: 30px;
	}
	.background,
	.wireframes,
	.final-prototype {
		background: #fff;
	}
	.mockup {
		background: #F2F2F2;
	}
	span {
		font-family: $bold;
	}
}

.introduction,
.background,
.wireframes,
.mockup,
.final-prototype,
.framer {
	h1, 
	h2, 
	h3, 
	h4 {
		text-align: center;
		color: $salmon;
		font-family: $black;
	}
} 

.framer,
 {
	h1, 
	h2, 
	h3, 
	h4 {
		text-align: left;
	}	
}

/**
	 PROTOTYPE INTRO SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.prototype-intro-wrapper {

	.prototype-watermark {
		@include watermark;
	}

	.welcome-iphone {
		margin-top: 60px;
	}

	.intro-text {
		text-align: center;
		h1 {
			font-size: 2em;
			text-transform: uppercase;
			color: $salmon;

		}
		p {
			margin-bottom: 5px;
			color: $reverse;
		}
	}

	.welcome-iphone {
		text-align: center;
		img {
			width: 220px;
		}
		margin-bottom: 1.5em;
	}	

}

/**
 * LARGER THAN TABLET
 */

@media screen and (min-width: 750px) {

	.prototype-intro-wrapper {
		min-height: 100vh;
		.prototype-watermark {
			visibility: visible;
		}
		.prototype-case-study {
			flex-direction: row;
		}
		.intro-text {
			text-align: left;
			flex-basis: calc((100%/3)*2);
			margin: 10px;
			h1 {
				font-size: 3.5em;
			}
		}
		.welcome-iphone {
			margin: 0px;
		}	
	}
}	


/**
	 INTRODUCTION SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.introduction {
		min-height: 85vh;
		background: #e4ecf1;
	.introduction-text {
		a {
			color: $primary-font-color;
		}
		p {
			text-align: left;
		}
		p:last-child{
			margin-bottom: 0;
		}
		.intro-para {
			@include intro-paragraph;
		}
	}
}


@media screen and (min-width: 750px) {
	.introduction {
		.introduction-container {
		margin: 60px auto;
		}
		.introduction-text {
			h5 {
				margin-bottom: 3em;
			}
			p {
				text-align: left;
			}
			p:last-child{
				margin-bottom: 0;
			}
		}
	}
}


/**
	 BACKGROUND SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.background {
	.background-text {
		h1 {
			text-align: center;
			color: $salmon;
			font-family: $black;
		}
		.intro-para {
			@include intro-paragraph;
		}
	}

	.client-sketches > div {
	  flex-basis: 22%;
    max-width: 22%;
	}

	h5 {
		@include captionitalic;
	}
}


@media screen and (min-width: 750px) {
	.background-container {
		margin-top: 60px;
	}
}
/**
	 WIREFRAMING SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */


/* wireframes section */
.wireframes {
	.intro-para {
		@include intro-paragraph;
	}
	.sketch-wireframes {
		h2 {
			text-align: left;
		}
	}
	.wireframe-sketches > div {
		flex-basis: 22%;
    max-width: 22%;
    img {
			border: solid 1px #e5e5e5;
		}
	}
	h5 {
		@include captionitalic;
	}
}

@media screen and (min-width: 750px) {
	.wireframes-container {
		margin: 60px auto;
	}
	.sketch-wireframes {
		margin-top: 60px;
	}

}

/**
	 MOCKUP SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.mockup {
	.sketch-screenshot {
		img {
			border: solid 1px #e5e5e5;
		}
	}
	.mockup-text {
		h3 {
			text-align: left;
		}
	}
	.mockup-container {
		margin: 60px auto;
		h5 {
		@include captionitalic;
		}
	}

}

@media screen and (min-width: 750px) {

	.mockup {
		.mockup-container {
			// flex-direction: row;
		}
	}
	
}

/**
	 FINAL PROTOTYPE SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

/* Final Prototype */
.final-prototype {
	min-height: 85vh;
	.final-prototype-screens > div {
		flex-basis: 22%;
    max-width: 24%;
	}
}


/**
	 FRAMER SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */



.framer {
	min-height: 85vh;
		p {
			color: $reverse;
		}
	.framer-iphone {
		img {
			width: 220px;
		}
		margin: 30px 0;
	}
}


/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {

	/* Framer */
	.framer {
		.framer-container {
			flex-direction: row;
		}
		.framer-iphone {
			flex-basis: 25%;
			max-width: 25%;
			text-align: right;
		}
	}

}









	
		





