/* PROTOTYPE LANDING
   ========================================================================== */

/**
 * MOBILE FIRST QUERIES
 */

.p-background-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	img {
		opacity: 0.08;
		width: 300px;
	}
}

.prototype {
	text-align: center;
	h1 {
		font-size: 1.5em;
	}
}

.prototype-container {
	background: $salmon;

	h1 {
		text-transform: uppercase;
	}
	.quote-text {
		font-size: 1.5em;
	}
}


/**
 * LARGER THAN MOBILE
 */
@media (min-width: 400px) {
	.prototype-container {
		.quote-text {
			font-size: 1.7em;
		}
	}	

}	

/**
 * LARGER THAN PHAMBLET
 */
@media (min-width: 550px) {

}

/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {


	.p-background-icon {
		img {
			width: 500px;
		}
}
	
	.prototype-container {
		article {
			width: 70%;
			text-align: left;
		}
		h3 {
			font-size: 2em;
			margin-bottom: 10px;
		}
		h3 {
		}
		.quote-text {
			font-size: 3em;
			line-height: 1em;
		}
		p {
			margin-bottom: 15px;
		}
	}

}



/* Larger than desktop */
@media (min-width: 1000px) {


}




/* PROTOTYPE CASE STUDY / BIRD NERD
   ========================================================================== */

.prototype-main-wrapper {
	p {
		color: $primary-font-color;
		margin-bottom: 30px;
	}
	.scope,
	.wireframes,
	.final-prototype {
		background: #fff;
	}
	.mockup {
		background: #F2F2F2;
		width: 100%;
	}
}

.scope,
.wireframes,
.mockup,
.final-prototype,
.framer {
	h1, 
	h2, 
	h3, 
	h4 {
		color: $salmon;
	}
} 


/**
	 PROTOTYPE INTRO SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.prototype-intro-wrapper {

	.prototype-watermark {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: -1;
		opacity: 0.02;
		visibility: hidden;
	}

	.welcome-iphone {
		margin-top: 60px;
	}

	.intro-text {
		text-align: center;
		h1 {
			font-size: 2em;
			text-transform: uppercase;
			color: $salmon;
		}
		h2 {
			font-family: $bold;
		}
		p {
			margin-bottom: 5px;
			color: $reverse;
		}
	}

	.welcome-iphone {
		text-align: center;
		img {
			width: 220px;
		}
		margin-bottom: 1.5em;
	}	

}

/**
 * LARGER THAN TABLET
 */

@media screen and (min-width: 750px) {

	.prototype-intro-wrapper {
		min-height: 100vh;
		.prototype-watermark {
			visibility: visible;
		}
		.prototype-case-study {
			flex-direction: row;
		}
		.intro-text {
			text-align: left;
			flex-basis: calc((100%/3)*2);
			margin: 10px;
			h1 {
				font-size: 3.5em;
			}
		}
		.welcome-iphone {
		margin-top: 0px;
		}	
	}
}	


/**
	 PROCESS SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.prototype-main-wrapper {
	.process {
		min-height: 50vh;
		background: #18243c;
	}
	.process-text {
		text-align: center;
		p {
			color: $reverse-font-color;
			font-family: $body_italic;
		}
	}
}

/**
	 SCOPING SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.scope {
	.client-sketches > div {
	  flex-basis: 22%;
    max-width: 22%;
	}

	h5 {
		@include captionitalic;
	}
}

/**
	 WIREFRAME SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */


/* wireframes section */
.wireframes {
	.pen-paper-wireframes {
			margin-bottom: 30px;
		}
	.wireframe-sketches > div {
		flex-basis: 22%;
    max-width: 22%;
    img {
			border: solid 1px #e5e5e5;
		}
	}
	h6 {
		@include captionitalic;
	}
}

/**
	 MOCKUP SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.mockup {

}

@media screen and (min-width: 750px) {

	.mockup {
		.mockup-container {
			flex-direction: row;
		}
		.mockup-text,
		.mockup-screens {
			flex-basis: 50%;
	    max-width: 49%;
		}
		.mockup-text {
			margin-right: 50px;
		}
	}
	
}

/**
	 FINAL PROTOTYPE SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

/* Final Prototype */
.final-prototype {
	.final-prototype-screens > div {
		flex-basis: 22%;
    max-width: 24%;
	}
}


/**
	 FRAMER SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */



.framer {
	min-height: 50vh;
		p {
			color: $reverse;
		}
	.framer-iphone {
		img {
			width: 220px;
		}
		margin: 30px 0;
	}
}

/* Footer */

.footer {
	height: 200px;
	background: #000;
		.social-footer {
			color: #fff;
			text-align: center;
			font-size: 1.5em;
		}
}

/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {

	/* Framer */
	.framer {
		.framer-container {
			flex-direction: row;
		}
		.framer-iphone {
			flex-basis: 25%;
			max-width: 25%;
			text-align: right;
		}
	}

}






	
		





