/* RESUME
   ========================================================================== */

/**
 * MOBILE FIRST QUERIES
 */

.resume-intro-wrapper {
	// background: #043464;
	.resume-watermark {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: -1;
		opacity: 0.02;
		visibility: hidden;
	}
}

.resume {
	background: black;
	.resume-wrapper {


	}
}

.resume-body {

	// .experience,
	// .technical-skills {
	// 	flex-basis: 45%;
	// 	flex-grow: 1;
 //    min-width: 400px;
	// }
	p, 
	li {
		// font-size: 0.9em;
	}
	h1 {
		text-transform: uppercase;
	}
	.experience > h1 {
		margin-bottom: 1em;
		text-decoration: underline

	}
	.work-placement {
			font-family: $body_avant; 
		span {
			font-family: $bold_avant;
		}
	}
	.work-position {
		margin-bottom: 1em;
		font-style: italic;
	}
	.work-description {
		margin-bottom: 1em;
	}
	.work-responsibilities {
		font-family: $medium_avant;
		letter-spacing: inherit;
	}
	ul {
		margin: 0 0 45px;
	}


}


/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {

	/*   Intro section   */
	.resume-intro-wrapper {

		.resume-watermark {
			visibility: visible;
		}
	}

}


