/* RESUME
   ========================================================================== */

/**
 * MOBILE FIRST QUERIES
 */

.resume-intro-wrapper {
	.resume-watermark {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: -1;
		opacity: 0.02;
		visibility: hidden;
	}
}


.resume-body {
	background: #fff;
	padding-top: 30px;

	p, 
	h1, 
	h2, 
	h3, 
	h4,
	li {
		color: $primary-font-color;
	}
	
	.experience {
		flex-basis: 50%;
    margin: 0 0 5px 0;
    max-width: 50%;
   }
	.technical-skills {
		flex-basis: 40%;
    margin: 0 5px 0 0;
    max-width: 40%;
	}

	p, 
	li {
		font-size: 0.9em;
	}
	h1 {
		font-family: $bold_avant;
		font-size: 3em;
		margin-bottom: .5em;
		color: $salmon;
	}
	
	h1,
	.year,
	.work-placement {
		font-family: $bold_avant;
	}
	.work-title,
	.work-responsibilities {
		font-family: $medium_avant;
	}


	.year {
		font-size: 1.5em;
		text-decoration: underline;
	}
	.work-placement {
		span {
			font-family: $body_avant;
		}
	}
	.work-title {
		margin-bottom: 1em;
		font-style: italic;
	}
	.work-description {
		margin-bottom: 1em;
	}
	ul {
		margin: 0 0 45px;
	}


}


/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {

	/*   Intro section   */
	.resume-intro-wrapper {

		.resume-watermark {
			visibility: visible;
		}
	}

}


