/* USER INTERFACE
   ========================================================================== */

/**
 * MOBILE FIRST QUERIES
 */

.ui {
	text-align: center;
	h1, h2, h3 {
		font-family: $medium;
		
	}
	h1 {
		font-size: 1.5em;
	}
}

.ui-container {
	// background: $dark-blue;
	// background: #1D2A46;

	h1 {
		text-transform: uppercase;
	}
	.quote-text {
		font-size: 1.5em;
	}
}


/**
 * LARGER THAN MOBILE
 */
@media (min-width: 400px) {
	.ui-container {
		.quote-text {
			font-size: 1.7em;
		}
	}	

}	

/**
 * LARGER THAN PHAMBLET
 */
@media (min-width: 550px) {

}

/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {
	
	.ui-container {
		article {
			width: 70%;
			text-align: left;
		}
		h3 {
			font-size: 2em;
			margin-bottom: 10px;
		}
		h3 {
		}
		.quote-text {
			font-size: 3em;
			line-height: 1em;
		}
		p {
			margin-bottom: 15px;
		}
	}

}


/* Larger than desktop */
@media (min-width: 1000px) {


}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	

}


/* USER INTERFACE CASE STUDY / TANDEM
   ========================================================================== */

.ui-main-wrapper {
	h1, h2, h3, h4, h5 {
		color: $salmon;
		// text-transform: uppercase;
		font-family: $bold_avant;
	}
	h2 {
		font-size: 2em;
	}
	p {
		color: #595959;
		margin-bottom: 30px;
	}
	.scope,
	.wireframes,
	.final-prototype {
		background: #fff;
	}
	.mockup {
		background: #F2F2F2;
		width: 100%;
	}
}


/**
 * MOBILE FIRST QUERIES
 */


/* Intro section */
.ui-intro-wrapper {
	// background: #043464;
	.ui-watermark {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: -1;
		opacity: 0.02;
		visibility: hidden;
	}

	.intro-text {
		margin-top: 80px;
		margin-bottom: 35px;
		h1 {
			font-size: 3em;
			color: $salmon;
			text-transform: uppercase;
			font-family: $bold_avant;
		}
		p {
			margin-bottom: 5px;
			color: $reverse;
		}
		p:nth-child(4) {
			margin-bottom: 20px;
		}
		p span {
			font-family: $bold;
		}
	}

	.welcome-iphone {
		display: none;
	}	

}

/* Process section */
.process {
	min-height: 50vh;
	background: #F2F2F2;
}


/* scope section */

.scope {
	.client-sketches > div {
	  flex-basis: 22%;
    max-width: 24%;
	}

	h5 {
		@include captionitalic;
	}
}


/* wireframes section */
.wireframes {
	.pen-paper-wireframes {
		margin-bottom: 30px;
	}

	.sketch-wireframes {
		.wireframe-item {
		img {
			border: solid 1px #e5e5e5;
		}
	    flex-basis: 22%;
	    max-width: 24%;
		}
		h6 {
			@include captionitalic;
		}
	}
}

/* Mockup section */
.mockup {
	.mockup-text {
		max-width: 100%;
	}
}

/* Final Prototype */
.final-prototype {
	.final-prototype-screens > div {
		flex-basis: 22%;
    max-width: 24%;
	}
}


/* Framer */
.framer {
	min-height: 50vh;
	.framer-text {
		p {
			color: $reverse;
		}
	}
	img {
		width: 50%;
	}
}

/* Footer */

.footer {
	height: 200px;
	background: #000;
		.social-footer {
			color: #fff;
			text-align: center;
			font-size: 1.5em;
		}
}



/**
 * LARGER THAN TABLET
 */
@media screen and (min-width: 750px) {

	/*   Intro section   */
	.ui-intro-wrapper {

		.ui-watermark {
			visibility: visible;
		}

		.ui-case-study {
			// flex-direction: row;
			.intro-text {
				// margin: 0px;
				h1 {
					font-size: 4em;
				}
				// flex-basis: 67%;
    // 		max-width: 67%;
			}
		}
		.welcome-iphone {
			display: inline;
			text-align: center;
			img {
				width: 100%;
				// box-shadow: 1px 1px 10px #888888;
			}
		}	
	}

	/* Mockup section */
	.mockup {
		.mockup-container {
			flex-direction: row;
		}
		.mockup-text,
		.mockup-screens {
			flex-basis: 50%;
	    max-width: 49%;
		}
		.mockup-text {
			margin-right: 50px;
		}
	}

	/* Framer */
	.framer {
		min-height: 75vh;
		.framer-container {
			flex-direction: row;
		}
		.framer-text {
			margin-right: 50px;
		}
		img {
		width: 100%;
		}
	}

}


