/* USER INTERFACE CASE STUDY / TANDEM
   ========================================================================== */

.ui-main-wrapper {
	p {
		color: $primary-font-color;
		margin-bottom: 30px;
	}
	span {
		font-family: $bold;
	}
}

.tadem-technology,
.tadem-process {
		background: #fff;
	}

.tandem-intro,
.tandem-final-design {
		background: #e4ecf1;
}

.ui-intro-wrapper,
.tandem-intro,
.tadem-technology,
.tadem-process,
.tandem-final-design
 {
	h1, 
	h2, 
	h3, 
	h4 {
		color: $salmon;
		font-family: $black;
	}
} 

/**
	 USER INTERFACE INTRO SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.ui-intro-wrapper {

	.ui-watermark {
		@include watermark;
	}

	.welcome-iphone {
		margin-top: 60px;
	}

	.intro-text {
		h1 {
			font-size: 2em;
			text-transform: uppercase;
			color: $salmon;
		}
		h2 {
			font-family: $bold;
			color: $reverse-font-color;
		}
		p {
			margin-bottom: 5px;
			color: $reverse;
		}
	}

	.welcome-iphone {
		text-align: center;
		img {
			width: 220px;
		}
		margin-bottom: 1.5em;
	}	

}

/**
 * LARGER THAN TABLET
 */

@media screen and (min-width: 750px) {

	.ui-intro-wrapper {
		min-height: 100vh;
		.ui-watermark {
			visibility: visible;
		}
		.ui-case-study {
			flex-direction: row;
		}
		.intro-text {
			flex-basis: calc((100%/3)*2);
			margin: 10px;
			h1 {
				font-size: 3.5em;
			}
		}
		.welcome-iphone {
		margin-top: 0px;
		}	
	}
}


/**
	 TANDEM INTRO SECTION
 	 ---------------------------------*/

.tandem-intro {
	.intro-text {
		text-align: center;
		p {
			text-align: left;
		}
		p:last-child{
			margin-bottom: 0;
		}
		.intro-para {
			font-size: 1.3em;
			line-height: 1.2;
			font-family: $medium;
		}
	}
}


@media screen and (min-width: 750px) {
	.tandem-intro {
		.intro-text {
			h5 {
				margin-bottom: 3em;
			}
			p {
				text-align: left;
			}
			p:last-child{
				margin-bottom: 0;
			}
			.intro-para {
				font-size: 1.6em;
				line-height: 1.4;
			}
		}
	}
}

/**
	 TANDEM TECHNOLOGY
 	 ---------------------------------*/
.tadem-technology {
		h1 {
			text-align: center;
		}
	p,
	.tadem-technology-container {
	margin-bottom: 0px;
	}
}
 	 

/**
	 TANDEM PROCESS SECTION
 	 ---------------------------------*/

.tadem-process {
		h1 {
			text-align: center;
		}
	.tadem-process-container {
		margin-top: 0px;
	}
	h6 {
		@include captionitalic;
	}
}

/**
	 TANDEM FINAL DESIGN SECTION
 	 ---------------------------------*/



.tandem-final-design {
	h1 {
		text-align: center;
	}
	.final-design-container {
		h6 {
		@include captionitalic;
		}
	}
	.tandem-screen-img {
		margin-bottom: 35px;
		img {
			box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
		}
	}
}






