/* USER INTERFACE CASE STUDY / TANDEM
   ========================================================================== */

.ui-main-wrapper {
	p {
		color: $primary-font-color;
		margin-bottom: 30px;
	}
	.scope,
	.wireframes,
	.final-prototype {
		background: #fff;
	}
	.mockup {
		background: #F2F2F2;
		width: 100%;
	}
}

.scope,
.wireframes,
.mockup,
.final-prototype,
.framer {
	h1, 
	h2, 
	h3, 
	h4 {
		color: $salmon;
	}
}

/**
	 USER INTERFACE INTRO SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.ui-intro-wrapper {
	min-height: 100vh;

	.ui-watermark {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: -1;
		opacity: 0.02;
		visibility: hidden;
	}

	.intro-text {
		text-align: center;
		h1 {
			font-size: 2em;
			text-transform: uppercase;
			color: $salmon;
		}
		h2 {
			font-family: $bold;
		}
		p {
			margin-bottom: 5px;
			color: $reverse;
		}
	}

}

/**
 * LARGER THAN TABLET
 */

@media screen and (min-width: 750px) {

	.ui-intro-wrapper {
		.ui-watermark {
			visibility: visible;
		}
		.ui-case-study {
			flex-direction: row;
		}
		.intro-text {
			margin: 10px;
			h1 {
				font-size: 3.5em;
			}
		}
		.welcome-iphone {
		margin-top: 0px;
		}	
	}
}


/**
	 TANDEM INTRO SECTION
 	 ---------------------------------*/

/**
 * MOBILE FIRST QUERIES
 */

.tandem-intro {
	text-align: center;
	color: $primary-font-color;
	background: $salmon;
	min-height: 50vh;
}

.tandem-final-design {
	margin: 30px 0;
	.tandem-screen-img {
		margin-bottom: 35px;
		img {
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
		}

	}
}






