 /* UX - User Experience */


/* Mobile first queries */

.ux {
	background: $salmon;

	.placeholder-height {
			height: 100px;
		}

	.container {
		text-align: center;
		p {
			font-size: 0.8em;
			margin-bottom: 20px;
		}

		.screen {
			h5 {
				margin-bottom: 10px;
			}
			img {
				width: 70%;
				margin-bottom: 15px;
			}
		}
	}
}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


// .ux {
// 	background: $salmon;

// 	.container {
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);

// 		.screen {
// 			text-align: center;
// 			float: left;
// 			width: 21.25%;
// 			margin-left: 3%;
// 			img {
// 				width: 95%;
// 			}
// 		}
// 		.screen:first-child{
// 			margin-left: 0;
// 		}
// 	}
// }